<h1>Input data</h1>
<form action="/datas" method="post" enctype="multipart/form-datas">
    <input type="text" name="location" placeholder="Location" />
    <input type="text" name="coordinate_x" placeholder="X cooridante" />
    <input type="text" name="coordinate_y" placeholder="X cooridante" />
    <input type="date" name="date" placeholder="Date" />
    <input type="text" name="decibels" placeholder="decibels" />
    <input type="submit" value="add" />
</form>